<form method="post" action="{{ path('app_comptes_delete', {'idcompte': compte.idcompte}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compte.idcompte) }}">
    <button class="btn">Delete</button>
</form>
