{% extends 'baseback.html.twig' %}

{% block title %}Roles
{% endblock %}

{% block content %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

<div class="container px-5 my-5 px-5 " style="min-height: 70% !important;" >

			{#{% if app.session.get('user').idrole.description=='Administrateur'%}
																																														Admin
																																					{% else %}
																																														Not Admin
																																													{% endif %}#}
			
			
		<h1>
	Roles
</h1>
<a class="btn btn-primary mb-3"  href="{{path('addRole')}}">Ajouter un role</a>
		
			<table class="table table-striped">

				<thead>
					<tr>
						<th>Role</th>
					</tr>
				</thead>
				<tbody>
					{% for r in roles %}
						<tr>
							<td>{{r.description}}</td>

							<td>
								<a class="btn btn-danger" href="{{path('deleteRole',{'idRole':r.idRole})}}">Delete</a>
							</td>
							<td>
								<a class="btn btn-primary" href="{{path('updateRole',{'idRole':r.idRole})}}">Update</a>
							</td>


						</tr>
						{%endfor%}</tbody>
				</tbody>
			</table>
	
		
	</div>
{% endblock %}
