{% extends 'basefrontCandidat.html.twig' %}

{% block title %}Commentaire
{% endblock %}
{% block content %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
		<link href="{{asset('assets/assetsListing/css/style.css')}}" rel="stylesheet"/>
		<link rel="stylesheet" href="assets/assetsListing/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/assetsListing/css/css/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/assetsListing/css/price_rangs.css">
		<link rel="stylesheet" href="assets/assetsListing/css/flaticon.css">
		<link rel="stylesheet" href="assets/assetsListing/css/slicknav.css">
		<link rel="stylesheet" href="assets/assetsListing/css/animate.min.css">
		<link rel="stylesheet" href="assets/assetsListing/css/magnific-popup.css">
		<link rel="stylesheet" href="assets/assetsListing/css/fontawesome-all.min.css">
		<link rel="stylesheet" href="assets/assetsListing/css/themify-icons.css">
		<link rel="stylesheet" href="assets/assetsListing/css/slick.css">
		<link rel="stylesheet" href="assets/assetsListing/css/nice-select.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous"/>
		<script src="https://kit.fontawesome.com/your-code.js" crossorigin="anonymous"></script>

		<link
		rel="stylesheet" href="css/style.css">
		<!-- Logoicon-->
		<link
		rel="icon" type="image/x-icon" href="{{asset('assets/logo.ico')}}"/>
		<!-- Bootstrap icons-->
		<link
		href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>
		<!-- Core theme CSS (includes Bootstrap)-->
		<style>
			.rating li {
				display: inline-block;
				width: 20px;
			}
		</style>
	</head>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="media g-mb-30 media-comment">
		{{dump(commentaires)}}
			
				
						{% for c in commentaires %}
							
								<p>{{c.Contenu}}</p>

						{% endfor %}
					</div>

				</div>

                	</header>
{% endblock %}