
{% extends 'basefront.html.twig' %}

{%block bodysection%}
<div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
<img class="logocss" src="{{asset('assets/img/logowhite.png')}}" style="width: 70px; height:80px"></i>
</div>
<h2 class="fw-bolder">Modifier votre candidature</h2>
<p class="lead mb-0">Veuillez remplir ces champs</p></div>

<div class="row gx-5 justify-content-center">
<div class="col-lg-6">

<form id="contactForm" method="post" enctype="multipart/form-data">
<label class="fw-bolder" >Curriculum vitæ</label>


    
    <input class="form-control" type="file" name="cv" id="cv"  accept="application/pdf" oninvalid="this.setCustomValidity('Veuillez sélectionner votre CV.')" oninput="this.setCustomValidity('')"><br><br>
    


 <label class="fw-bolder" >Lettre de motivation </label>

   
    <input  class="form-control" type="file" name="lettre" id="lettre" required accept="application/pdf" oninvalid="this.setCustomValidity('Veuillez sélectionner votre CV.')" oninput="this.setCustomValidity('')"><br><br>

    {#<input type="submit" value="Save">#}
    <div class="d-grid"><button class="btn btn-primary btn-lg" type="submit">Enregistrer</button></div>
</form>

</div>
</div>
{%endblock%}



