<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			Postuli.Tn 404
		</title>
		<link href=" css/notfound.css" rel=" stylesheet"/>
		<script>
			window.onload = function () {
document.querySelector('.cont_principal').className = "cont_principal cont_error_active";
}
		</script>
	</head>

	<div class="cont_principal">
		<div class="cont_error">

			<h1>404 not found</h1>
			<p>Page inaccessible</p>
		</div>
		<div class="cont_aura_1"></div>
		<div class="cont_aura_2"></div>
	</div>
</html>
