<form method="post" action="{{ path('app_guidesentretiens_delete', {'idguide': guidesentretien.idguide}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ guidesentretien.idguide) }}">
    <button class="btn">Delete</button>
</form>
