<table border="1">
    <tr><th>ref</th></th>

        {%for l in list %}

    <tr>

        <td>{{l.idOffre}}</td>

        <td>{{l.poste}}</td>

        <td><a supprimer </a>

        </td>
        


    </tr>

    {%endfor%}

</table>