       {% extends 'basefrontanimation.html.twig' %}
       {% block title %}Project details{% endblock %}
       {% block content %}
        <!-- job post company Start -->
        <div class="job-post-company pt-50 pb-120">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    <a href="#"><img src="assets/img/icon/job-list1.png" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h4>Nom du projet</h4>
                                    </a>
                                    <ul>
                                        <li>Theme</li>
                                        <li><i class="fas fa-clock"></i>Mois</li>
                                        <li>secteur</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                          <!-- job single End -->
                       
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle" style = "position:relative; left:60px;">
                                    <h4>Job Description</h4>
                                
                                <p> Lorem ipsum dolor sit amet, consectetur 
                      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                      ex ea commodo consequat </p>
                      </div>
                     <a class="btn btn-primary" style="margin-left: 200px;">Update</a>
                     <a class="btn btn-danger" style="margin-left: 200px;">Delete</a>
                            </div>
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Job Overview</h4>
                           </div>
                          <ul>
                              <li>Date debut : <span>12 Aug 2019</span></li>
                              <li>Date de fin : <span>18 Aug 2019</span></li>
                              <li>Durée : <span>02</span></li>
                              <li>Théme : <span>BI </span></li>
                              <li>Secteur :  <span>informatique</span></li>
                          </ul>
                         <div class="apply-btn2">
                            <div class="d-flex justify-content-center">
                            <button class="btn btn-primary btn-sm shadow-none" type="button">Apply now</button>
                             </div>
                         </div>
                       </div>
                        
                    </div>
                </div>
            </div>
       
        <!-- job post company End -->

        
   {% endblock %}